<%= form_for(@entity_subtype) do |f| %>
  <% if @entity_subtype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entity_subtype.errors.count, "error") %> prohibited this entity_subtype from being saved:</h2>

      <ul>
      <% @entity_subtype.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
